body {
	margin: 0;
	padding: 0;
	font-family: "Nexa", sans-serif;
	background: #000;
}
.logo-container{
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.logo-wrapper {
	position: relative;
}

.logo-wrapper:hover .block:before {
	width: 20.5vh;
	height: 20.5vh;
	top: -0.25vh;
	left: -0.25vh;
}

.logo-wrapper:hover .block:after {
	opacity: 0.65;
	width: 23vh;
	height: 23vh;
	left: -1vh;
}

.logo-wrapper:hover .light {
	opacity: 0;
	transform: rotate(-60deg);
}

.logo-wrapper .block {
	position: relative;
	width: 20vh;
	height: 20vh;
	background: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #060606;
	transition: width 1s, height 1s;
}

.logo-wrapper .block .text {
	color: #fff;
	font-size: 4vh;
}

.logo-wrapper .block:before,
.logo-wrapper .block:after {
	content: "";
	position: absolute;
	left: -1vh;
	top: -1vh;
	width: 17.5vh;
	height: 17.5vh;
	z-index: -1;
	background: linear-gradient(-45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
	background-size: 1500%;
	animation: glow 120s linear infinite;
	transition: top 1s, left 1s, width 1s, height 1s, opacity 2s;
}

.logo-wrapper .block:after {
	filter: blur(50vh);
	left: -6vh;
	width: 35vh;
	height: 25vh;
	transform: rotate(45deg);
	opacity: 0.3;
	border-radius: 50vh;
}

@keyframes glow {
	0% {
		background-position: 100% 100%;
	}
	50% {
		background-position: 0 0;
	}
	100% {
		background-position: 100% 100%;
	}
}

.call-out {
	color: #fff;
	margin-top: 10px;
}